services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    restart: always

  client:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - server
    restart: always
